.container{
  min-width: 50%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input{
  border: none;
  height: 30px;
  font-size: 20px;
  border-bottom: 1px solid #007bff;
  outline: none;
  transition: all 0.2s ease;
}